.header {
    width: 34%;
    margin: 40px auto;
}

.input-text {
    width: 300px;
    height: 25px;
}

.add-btn {
    width: 100px;
    height: 32px;
    border: none;
    background-color: darkorange;
    font-size: 20px;
    margin-left: 20px;
}