.list {
    border-bottom: 1px solid #000;
    padding: 20px
}

.delete-btn {
    display: inline-block;
    width: 70px;
    height: 32px;
    border: none;
    background-color: darkorange;
    font-size: 18px;
}